%h2.sidebar-title
  .row
    .col-sm-6
      = @user_display_name
      Blurb
    %small.col-sm-6.text-right
      - if @is_own_profile
        %a.edit.text-right{href: "#"}
          Edit
.user-blurb.profile-box
  = @user.about
