%section
  %img.category-banner{ src: asset_path('profile-header.jpg') }
  .container
    .row.profile-overlay-info
      .col-sm-2.profile-photo
        %a{ href: profile_url(@user) }
          = image_tag user.avatar_url(:thumb), class: 'img-circle'
      .col-sm-5.profile-name-location
        ="#{ user.fullname}"
        - unless user.show_age? 
          %span.user-age=", #{ user.age}"
      .col-sm-5.profile-member-since.text-right
        Member Since
        %br
        = l user.created_at, :format => :month_year
