.col-md-6.profile-title
  %span.name
    =@user_display_name
    Interests 
  %span.count 
    = @user.interests.count 

.col-md-12.interests-view
  - if @user.interests.uniq.size > 0
    - @user.interests.uniq.each do |interest|
      %span.interest
        %span.cval= interest.name
  -else
    .row
    - if @is_own_profile
      %h2.grey-msg You have no Interests
    - else
      %h2.grey-msg #{ @user.name} have no Interests
