%h2.sidebar-title
  .row
    .col-sm-6
      = @user_display_name
      Interests
    %small.col-sm-6.text-right
      = link_to "View All", interest_path(@user.id) 

.profile-box
  - if @user.interests.uniq.size > 0
    - @user.interests.uniq.each do |interest|
      %span.interest.cval= interest.name
  - else
    .row
      %h2.grey-msg
        - if @is_own_profile
          You have no Interests
        - else
          #{@user.name} has no Interests
