#terms_of_service_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title 
          = @terms_of_service.name
      .modal-body
        = @terms_of_service.text.html_safe
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close

#privacy_policy_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title
          = @privacy_policy.name
      .modal-body
        = @privacy_policy.text.html_safe
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close