-# Footer code goes here
%img.footer-banner{ src: asset_path('footer/WeGottaGoFooter4000x1000.png') }

%div.footer-nav.text-center
	%a.footer-link{:href => "link"}
		About
	%a.footer-link{:href => "link"}
		What is Wegottago?
	%a.footer-link{:href => "link"}
		Blog
	%a.footer-link{:href => "link"}
		Contact
	%a.footer-link{:href => "link"}
		Terms and Privacy
	%a.footer-link{:href => "link"}
		Help

%div.social-nav.text-center
	%a.social-link{:href => "http://www.facebook.com"}
		%img{ src: asset_path('footer/fb.png') }
	%a.social-link{:href => "http://www.twitter.com"}
		%img{ src: asset_path('footer/twitter.png') }
	%a.social-link{:href => "http://www.vimeo.com"}
		%img{ src: asset_path('footer/vimeo.png') }
	%a.social-link{:href => "http://www.youtube.com"}
		%img{ src: asset_path('footer/youtube.png') }
	%a.social-link{:href => "http://www.pinterest.com"}
		%img{ src: asset_path('footer/pinterest.png') }
	%a.social-link{:href => "mailto:us@wegottago.com"}
		%img{ src: asset_path('footer/email.png') }

%div.footer-logo.text-center
	%img{ src: asset_path('logo.png') }

%div.copyright.text-center
	&copy; 2015 WeGottaGo