.row
  .col-md-12.paddingles
    .nav.conversation-nav
      = link_to conversations_path do
        %button.btn.btn-default.btn-lg.btn-rd.btn-square.pull-left{ class: active_for(conversations_path), type: "button"} Messages
      = link_to notifications_path do
        %button.btn.btn-default.btn-lg.btn-rd.btn-square.pull-left{ class: active_for(notifications_path), type: "button"} Notifications
      = link_to new_conversation_path do
        %button.btn.btn-blue.btn-lg.btn-rd.btn-square.pull-right{ type: "button"}
          Compose New