.row.cross-promo
  .col-sm-4.cross-promo-tile
    %a{ href: explore_friends_path }
      %img{ src: asset_path('cross-promo-tmp.png') }
      .overlay Find Friends
  .col-sm-4.cross-promo-tile
    %a{ href: explore_friends_path }
      %img{ src: asset_path('cross-promo-tmp.png') }
      .overlay Popular Activities
  .col-sm-4.cross-promo-tile
    %a{ href: explore_friends_path }
      %img{ src: asset_path('cross-promo-tmp.png') }
      .overlay Post Activity

