.email-capture
  .background
    .image.diving.visible
    .image.drinks
    .image.paddleboard 
    .image.pool 
    .image.skydiving 
  .content
    %h1
      WeGottaGo
      %span.activity
        %span
    .tagline
      New Friends. Common Interests. Endless Possibilities...
    .email-capture
      - if @reservation_email.nil?
        Get Notified When We Launch!
        = form_tag 'reservation', method: 'post' do
          = email_field 'reservation', 'email', placeholder: 'Email Address'
          = submit_tag 'Sign Up!', class: 'submit pink'
      - else
        Thanks, we'll drop you a line soon!
        %form{ method: 'post', action: '/reservation' }
          %input{ type: 'email', name: 'email', placeholder: 'Email Address', disabled: true, value: @reservation_email }
          %span.checkmark ✓
