.col-md-6.col-md-push-3.homepage-block.margin-top
  .col-md-10.col-md-offset-1.backgroundize.roundize3.border-white
    = render 'signup_wizard/header'
    .block-footer
      %p.pull-top or
      .wizard-block
        %h3.text-center
          Sign up using your email address
          = link_to 'Email', new_user_registration_path
