
.col-md-6.homepage-block
  .col-md-10.col-md-offset-1.backgroundize.roundize3.border-white
    = render 'signup_wizard/header'
    .block-footer
      %p.pull-top or
      .wizard-block
        %h3.text-center
          Sign up using your
          = link_to 'Email', new_user_registration_path
.col-md-6.pull-right.margin-top
  = image_tag 'homepage_image1.png'