.page-header.text-center
  New Friends. Common Interests.
  %br
  Endless Possibilities...

= link_to omniauth_authorize_path(:user, :facebook), :class => 'facebook-link' do
  = image_tag 'sign-up-facebook.png', :class => "space facebook-button"

.row
  .col-sm-8.col-sm-push-2.text-center.facebook-disclaimer
    WeGottaGo will never post to Facebook without your permission
