%section.categories
  %a{href: activity_category_activities_explore_path(activity_category_id: @main.id)}
    %img.category-banner{src: @main.wide_image_url}

  .container
    .col-md-12.categories-list
      .row
        - @activity_categories.each do |category|
          = render partial:  'activities/tile', locals: { category: category }
      %p.back-top
        %a{:href => ".top"}
          %span>
          Back to Top

