// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#carousel.carousel.slide{
  .carousel-inner {
  	height: auto;
    
    .item {
      height: 650px;
      
      img {
        height: auto;
        width: 100%;
      }
      .carousel-caption {
        font-size: 150%;

        &.top {
          top: 180px;

          h1 {
            font-size: 2.7em;
            text-transform: uppercase;
          }
          p {
          	font-size: 1.3em;
          }
        }
      }
    }
  }
}


.green {
  color: green;
}



.findthingstodo {
  display: inline-block;
	text-align: center;
	position: relative;
	top: -100px;
	padding: 4px;
	background-color: rgba(0,0,0,0.4);

	form {
		display: block;
		text-align: center;	

		.submit {
			text-transform: small-caps;
		}
	}
}
