html, body {
  height: 100%;
}

.email-capture {
  height: 100%;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    margin-bottom: -100%;
    z-index: -1;

    .image {
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0;
      background-size: cover;
      transition: all 400ms;

      &.visible {
        opacity: .6;
      }

      &.diving {
        background-image: image-url('email-capture/diving.jpg');
      }
      &.drinks {
        background-image: image-url('email-capture/drinks.jpg');
      }
      &.paddleboard {
        background-image: image-url('email-capture/paddleboard.jpg');
      }
      &.pool {
        background-image: image-url('email-capture/pool.jpg');
      }
      &.skydiving {
        background-image: image-url('email-capture/skydiving.jpg');
      }
    }
  }

  .content {
    width: 1000px;
    margin: 0 auto;
    padding: 120px 0;
    color: #fff;
    font-size: 18px;
  
    h1 {
      font-weight: bold;
      font-size: 92px;
      text-transform: none;
      margin-bottom: -4px;
    }
    .activity {
      display: inline-block;
      width: 400px;
      margin-left: -18px;
      font-size: 32px;
      text-transform: lowercase;
      font-style: italic;
      
      span {
        transition: all 160ms;
        &.transparent {
          opacity: 0
        }
      }
    }
  }
  
  .email-capture {
    text-align: center;
    margin-top: 160px;
    
    input {
      margin: 12px auto;
      padding: 6px 6px;
      font-size: 14px;
      width: 360px;
    }
    
    input.submit {
      display: block;
      width: 120px;
    }
  }
}
