<<<<<<< HEAD
// import the CSS framework
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lily+Script+One);

// Colors and mixins
$greybg-color: #F8F8F8;
$border-color: #E7E7E7;

// Universal
// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  display:inline-block;
  }
.image {
  margin:0 auto;
  display:block;
}
a:hover, a:focus{
  text-decoration:none;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  padding: 10px 15px;
  color: #fedd45;
}
.nav-drop{
  height: 50px;
  .dropdown{
    height: 50px;
    &>a{
      height: 50px;
    }
  }
}
.roundize3{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.border-white{
  border: 1px solid white !important;
}
.roundize3-bottom{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.borderize{
  border: 2px solid $border-color;
}

*::-webkit-input-placeholder {color: #333}
*:-moz-placeholder {color: #333}

.page-header {
  border-bottom: none;
}

.zip-fix label {
  font-weight: normal;
}

label.required{
  abbr{
    display: none;
  }
}

.jcrop-hline.bottom{
  margin: 0 !important;
  padding: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Navigation
.navbar-nav > li > a.innav-btn{
  padding: 0 10px;
  margin-top: 8px;
}

.dropdown-menu.custom{
  width: 300px;
  left: -200px !important;
  .extra-margin{
    margin: 5px;
  }
}
.dropdown-menu.custom:before {
    border-bottom: 10px solid white;
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 0;
    left: 220px;
    position: absolute;
    top: -10px;
    width: 0;
}
.dropdown-menu.custom-navs{
  width: 150px;
  left: -100px !important;
  .col-md-12{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.dropdown-menu.custom-navs:before {
    border-bottom: 10px solid white;
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 0;
    left: 120px;
    position: absolute;
    top: -10px;
    width: 0;
}

.underline{
  text-decoration: underline;
}

.bold{
  font-variant: bold;
  font-size: 20px;
}


.navbar-nav > li > a.innav-img{
  padding: 0 10px;
  margin-top: 0px;
  img{
    width: 35px;
    height: 35px;
  }
}
// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
body {
  background-color: transparent !important;
}
html{
  background-color: #F8F8F8;
}
main {
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}
section {
  @extend .row;
  margin-top: 40px;
  max-width: 100%;
  margin-left: 0px;
}

.modal-backdrop {
  z-index: 1029 !important;
}

.modal-content label {
  font-weight: normal;
}

.modal-body .radio, .modal-body .checkbox {
  margin: 0 !important;
  line-height: 40px;
}

.marginButton {
  margin: 8px 10px 0px 10px;
}

.help-block{
  text-align: right;
  margin-right: 15px;
}

.white{
  background-color: white;
}

#image-container{
  position: relative;
  #loading{
    background-color: white;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    img{
      margin: auto auto;
      width: 100%;
      height: 100%;
      z-index: 1001;
      opacity: 1;
    }
  }
}

.postActivity{

  .has-error .form-control {
    border-color: #A94442 !important;
  }

  .activity_details{
    textarea {
      max-width: 310px;
      min-width: 310px;
      min-height: 100px;
    }
  }

  #activity_people_number{
    width: 80px;
  }

  .modal-footer {
    margin-top: -20px;
  }
  form {
    display: table;
  }
  .activityFormPart1, .activityFormPart2 {
    .field_title{
      color: #999999;
      float: left;
      margin-left: -7px;
      margin-top: 7px;
    }
  }
  .activityFormPart2 {
    .field_title {
      margin-left: 0px;
      line-height: 40px;
      margin-top: 0;
    }
    /*.boolean {
      margin-left: -14px;
      margin-right: 2px;
    }*/
  }
  .group{
    input {
      width: 230px !important;
      margin-top: -1px !important;
      height: 36px;
    }
    select {
      width: 106px;
      height: 36px;
      margin-left: -24px !important;
    }
    .string {
      float: left;
      margin-top: 1px;
    }
    .select{
      float: left;
      margin-left: -18px;
    }
    .title {
      float: left;
    }
  }
  .butPanel{
    position: relative;
    height: 38px;
    left: -7px;
    margin-top: -44px;
    margin-bottom: 10px;
    font-size: 30px;
    .arrow-left, .arrow-right, .button-change {
      width: 38px;
      height: 38px;
      margin-left: 4px;
      float: left;
      .shape {
        width: 38px;
        height: 38px;
        background-color: #000000;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); /* IE 5.5+*/
        -moz-opacity: 0.6; /* Mozilla 1.6 и ниже */
        -khtml-opacity: 0.6; /* Konqueror 3.1, Safari 1.1 */
        opacity: 0.6; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
        cursor: pointer;
      }
      .title {
        display: inline;
        position: relative;
        top: -43px;
        left: 10px;
        color: #FFFFFF;
        cursor: pointer;
      }
    }
    .button-change {
      width: 116px;
      margin-left: 8px;
      font-size: 15px;
      .shape {
        width: 116px;
      }
      .title {
        top: -29px;
      }
    }
  }
  .modal-dialog {
    margin-top: 10%;
    width: 615px;
  }
  h4#myModalLabel.modal-title {
    color: #FFFFFF;
    margin-top: -40px;
  }
  .modal-header, .modal-footer {
    border: none;
  }
  .activityFormPart2 {
    display: none;
  }
  img {
    margin-left: -14px;
    width: 600px;
    max-height: 280px;
    height: auto;
    max-width: none;
  }
  .form-header {
    font-size: 25px;
    color: #999999;
  }
  .age {
    select {
      width: 70px;
    }
    .pull-left{
      margin-left: -10px;
      margin-right: -10px;
    }
  }
  #s2id_activity_interest_tag_list {
    ul{
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-image: none;
      .tags-select{
        margin: 3px !important;
      }
      .select2-search-choice-close{
        margin-top: 1px;
      }
    }
    input {
      height: 32px;
      margin: 0 !important;
    }
  }
}

$max-height: 490px;

.chooseTheme {
  .modal-dialog {
    margin-top: 10%;
    width: 740px;
  }
  .modal-body {
    padding: 0;
    height: 490px;
    .themeCatList {
      width: 25%;
      float:left;
      max-height: $max-height;
      overflow: auto;
      .themeCatItem, .themeCatChosen {
        cursor: pointer;
        padding: 2px 3px;
        padding-left: 15px;
        margin: 5px 0;
      }
      .themeCatChosen {
        border-left: 5px solid #DB5437;
        padding-left: 10px;
      }
    }
    .themeList {
      width: 75%;
      max-height: $max-height;
      min-height: $max-height;
      overflow-x: hidden;
      overflow-y: auto;
      float:left;
      background: rgb(238, 238, 238);
      .themeItem {
        padding:10px 5px;
        img{
          width: 485px;
          height: auto;
          cursor: pointer;
        }
      }
    }
  }

  .modal-footer {
    margin-top: 0;
    text-align: left;
  }
  .modal-footer form {
    float: left;
  }
  .loader-img{
    margin: 7px 8px 0px 0px;
  }
}

.activity-info {
  .col-md-7, .col-md-5 .location, .col-md-5 .user-block {
    background-color:#FFFFFF;
  }

  .main-img {
    margin: 0px -15px;
    img{
      width: 100%;
    }
  }

  .col-md-7 .user-avatar {
    position: absolute;
    bottom: -40px;
    left: 25px;
    img {
      margin: 0px;
      width: 150px;
      height: 150px;
      border: 4px solid white;
    }
  }
  .personal_quote {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px 20px 20px 190px;
    color: white;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.75)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  }
  .share-buttons{
    margin: 10px 0 15px 180px;
    .comment-ico{
      float: left;
      margin-right: 4px;
      img {
        display: inline;
        width: 18px;
        margin: 0px;
      }
    }
  }
  .line{
    margin: 0px -15px;
    border-top: 2px solid #E4E4E4;
    font-size: 0px;
  }
  .activity-header-top{
    color: #666;
    margin-top: 12px;
    font-size: 17px;
  }
  h1.activity-header-title{
    margin-top: 1px;
    font-weight: bold;
    font-size: 34px;
  }
  .activity-header-datetime{
    margin-bottom: 5px;
    .date-left, .date-right{
      font-size: 17px;
      font-weight: bold;
    }
    .date-right{
      margin-left: 290px;
      margin-top: -24px;
    }
  }

  h2 {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bolder;
  }

  .activity-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
    .tab-pane {
      margin:5px;
    }
    #activity-tab{
      .send-form-avatar{
      float: left;
      img{
          width: 65px;
          height: 65px;
          margin: 20px;
        }
      }
    }

    .comment-field{
      float: left;
      margin: 20px 0px;
      width: 75%;
      textarea {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
      }
    }
    .comments-list{
      clear: both;
      margin-top: 10px;
    }
  }

  .user-block {
    margin-top: 10px;
    border: 1px solid #9c9c9c;
    .user-info {
      padding-top: 18px;
      .user-name {
        color: #3580B9;
        font-size: 24px;
        font-weight: bolder;
          h3 {
          font-size: 2em;
          }
      }
      .info{
        color: #717171;
        font-size: 15px;
        font-weight: bolder;
      }

      .user-avatar > a img {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
      }
    }

    .user-avatar{
      float: left;
      img {
        width: 128px;
        height: 128px;
        margin: 18px;
      }
    }

    .statistics{
      clear: both;
      background-color: #FCFCFC;
      box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
      .col-md-4{
        margin:10px 0;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: #737373;
        div {
          text-align: center;
          font-size: 25px;
          font-weight: bold;
          color: #727272;
        }
      }
    }
  }

  #map-canvas{
    width: 100%;
    height: 230px;
    img {
      max-width: none;
    }
  }

  .list-of-joined {
    clear: both;
    display: table;
    img {
      margin: 0.5%;
      width: 19%;
      float: left;
    }
  }

  #activity-tab {
    .comments-list {
      .col-md-1{
        margin-left:25px;
      }
      .commenter{
        font-size: 14px;
        font-weight: bold;
        color: #549AE0;
        float: left;
      }
      .status{
        margin-left: 10px;
        float: left;
        font-size: 14px;
        color: #747474;
        float: left;
      }
      .text{
        clear: both;
        margin-top: 3px;
      }
      .comment{
        margin: 10px -5px;
        padding-bottom:10px;
        border-bottom: 1px solid #ccc;
        &:last-child{
          border-bottom: none;
        }
      }
      img {
        width: 40px;
        max-width: none;
      }
    }
  }
}

.location {
    padding: 7px;
    margin: 25px 0;
  }

.chooseLocation {
  .modal-dialog {
    margin-top: 10%;
    width: 402px;
    .modal-body{
      padding: 0px;
      #location-map-canvas{
        img {
          max-width: none;
        }
        width: 400px;
        height: 400px;
      }
    }
    .modal-footer{
      margin-top: 0px;
    }
  }
  .controls {
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      position: relative !important;
      left: 5px !important;
      top: 5px !important;
      z-index: 1 !important;
    }

    #pac-input {
      background-color: #fff;
      width: 350px;
      padding: 0 11px 0 13px;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      text-overflow: ellipsis;
      &:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 351px;
      }
    }

    .pac-container {
      font-family: Roboto;
    }

}

.activity-padding {
  padding-left: 35px;
}

.activity-item{
  width: 100%;
  margin: 15px 0px;
  clear: both;
  background-color: #FFFFFF;
  display: inline-block;
  h3 {
  color: #3C84BE;
  margin: 0 0 0 -30px;
  margin-top: 0;
  font-weight: bold;
  font-size: 20px;
  }
  .activity-main-info{
    position: relative;
    .activity-button{
      position: absolute;
      top: 5%;
      right: 5%;
      padding: 5px 10px 3px;
      font-size: 12px;
      font-weight: bold;
      color: #428bca;
      border: 1px solid #E7E7E7;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      text-transform: capitalize;
      &.host{
        color: #fff;
        background-color: #428bca;
        opacity: 0.8;
      }
    }
    .activity-img{
      width: auto;
    }
    .img-circle{
      position: absolute;
      right: -40px;
      top: 50%;
      margin-top: -40px;
      width: 80px;
      height: 80px;
      border: 4px solid white;
    }
  }
  .list-of-joined {
    height: 47px;
    clear: both;
    img {
      width: 43px;
      height: 43px;
      margin-right: 7px;
      float: left;
    }
  }
  .activity-title {
    a {
      text-decoration: none;
      font-size: 20px;
      display: inline-block;
      font-weight: bolder;
      color: #606060;
    }
  }
  .date-time-info {
    font-size: 12px;
    color: #3C84BE;
    .date-info, .time-info{
      float: left;
    }
    .time-info{
      margin-left: 15px;
    }
  }
  .activity-personal-quote {
    margin-top: 25px;
    margin-bottom: 7px;
    clear: both;
    min-height: 40px;
    color: #494949;
  }
  .activity-joined-user-link {
    clear: both;
    font-size: 10px;
    line-height: 10px;
    color: #487EBC;
  }
  button {
    float: right;
    margin-top: -55px;
  }
}

.activities-list.user-activities h2 {
  padding-left: 15px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.search {

  .suggested-block{
    display: block;
    width: 24%;
    float: left;
    margin: 0.5%;
    background-color: #FFFFFF;
    .top-part {
      img {
        width: 100%;
      }
    }
    .bottom-part {
      img {
        position: absolute;
        top: -30px;
        left: 5px;
        width: 40px;
        height: 40px;
        border: 3px solid #FFFFFF;
      }
      .title {
        color: #3C84BE;
        font-size: 12px;
        font-weight: bold;
        display: inline-block;
      }
      .date {
        color: #808080;
        font-size: 9px;
        display: inline-block;
        position: relative;
        top: -5px
      }
    }
  }
}
.photo-explore-activities{
  margin-top: 43px;
  position: relative;
  height: 350px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  .image{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .pull-center{
    position: absolute;
    top: 20%;
    margin: 0 auto;
  }
}

.col-md-12.photo-body {
  margin-top: 44px;
}

.message-user-status{
  position:relative;
  top:38px;
  left:25px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color:#59AA07;
}

.datepicker{
  z-index: 10000 !important;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  height: 1px;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}


.white{
  background-color: white;
}

.inline-radions{
  label{
    float: left;
    width: 25%;
  }
}

.paddingles{
  padding-left: 0px;
  padding-right: 0px;
}
.table-no-margin{
  margin-bottom: 0px;
}

.margin-top{
  margin-top: 15px;
}

.margin-top5{
  margin-top: 5px;
}

.margin-bottom{
  margin-bottom: 15px;
}

.no-margin-top{
  margin-top: 0px;
}

.extra-padding{
  padding: 15px;
}

.extra-padding.no-top {
  padding-top: 0;
}

.controls, .form-group{
  margin-bottom: 10px;
  input[type="text"], input[type="password"], input[type="email"],
  input[type="number"], input[type="url"], input[type="tel"], textarea,
  select {
    width: 100%;
    padding: 5px;
  }
  textarea{
    height: 100px;
  }
}

.btn-primary a{
  color: white;
}

.border-bottom{
  border-bottom: 1px solid $border-color;
}

.container-wide{
  width: 95%;
  margin: 0 auto;
}

.borderize-without-top{
  @extend .borderize;
  border-top: none;
}
.roundize{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.roundize-without-top{
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
}

.btn-square{
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

.index-message{
  padding: 20px;
  .created_at{
    line-height: 12px;
    font-size: 12px;
    p{
      margin-bottom: 3px;
      text-align: right;
    }
  }
}

.index-message:last-child {
    border-bottom: none
}

.participants{
  font-size: 9px;
  p{
    margin-left: 5px;
  }
}

.chat-participants {
    margin: 0;
    line-height: 31px;
}

.sender-location, .sender {
  margin-bottom: 0;
  line-height: 15px;
}

.sender {
    color: #428bca;
}
.sender-location {
    color: #ccc !important;
}

.no-label label {
  display: none;
}

.message {
  margin: 10px 0 0 0;
  p {
    color: #878787;
  }
}
button#cancel-conversation, button#cancel-new-message{
  margin-right:10px;
}

.user-select{
  margin: 0;
  padding: 0;
  img{
    width:  20px;
    height: 20px;
    display: inline;
  }
  span{
    margin-left: 5px;
  }
}

.user-profile-blok-link:hover{
  background-color: $border-color !important;
}

.btn-rd{
  border-left: none;
  border-bottom: none;
  border-top: none;
}

#messages-list{
  float: none;
  clear: both;
  max-height: 400px;
  max-height: 400px;
}


.unread{
  background-color: $greybg-color;
}

.help-block{
  ul{
    margin: 0;
    padding: 0;
    color: rgb(223, 124, 124);
    li{
      list-style: none;
    }
  }
}


/* New Changes */

.btn-blue {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #42c0ef; /* Old browsers */
  background: -moz-linear-gradient(top,  #42c0ef 0%, #04a7de 50%, #018fbd 51%, #0088b4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#42c0ef), color-stop(50%,#04a7de), color-stop(51%,#018fbd), color-stop(100%,#0088b4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #42c0ef 0%,#04a7de 50%,#018fbd 51%,#0088b4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #42c0ef 0%,#04a7de 50%,#018fbd 51%,#0088b4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #42c0ef 0%,#04a7de 50%,#018fbd 51%,#0088b4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #42c0ef 0%,#04a7de 50%,#018fbd 51%,#0088b4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42c0ef', endColorstr='#0088b4',GradientType=0 ); /* IE6-9 */
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    color: #ffffff;
    background-image: none;
    background: #0088b4;
}

.btn-grey {
  color: #7C7C7C;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  background: #e8e8e8; /* Old browsers */
  background: -moz-linear-gradient(top,  #e8e8e8 0%, #e7e7e7 50%, #dadada 51%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(50%,#e7e7e7), color-stop(51%,#dadada), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e8e8e8 0%,#e7e7e7 50%,#dadada 51%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e8e8e8 0%,#e7e7e7 50%,#dadada 51%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e8e8e8 0%,#e7e7e7 50%,#dadada 51%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e8e8e8 0%,#e7e7e7 50%,#dadada 51%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-grey:hover, .btn-grey:active, .btn-grey:focus {
    color: #7C7C7C;
    background-image: none;
    background: #e5e5e5;
}

.btn-pink {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #ed59a3; /* Old browsers */
  background: -moz-linear-gradient(top,  #ed59a3 0%, #e5589d 50%, #d2498d 51%, #cc4a8a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed59a3), color-stop(50%,#e5589d), color-stop(51%,#d2498d), color-stop(100%,#cc4a8a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ed59a3 0%,#e5589d 50%,#d2498d 51%,#cc4a8a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ed59a3 0%,#e5589d 50%,#d2498d 51%,#cc4a8a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ed59a3 0%,#e5589d 50%,#d2498d 51%,#cc4a8a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ed59a3 0%,#e5589d 50%,#d2498d 51%,#cc4a8a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed59a3', endColorstr='#cc4a8a',GradientType=0 ); /* IE6-9 */
  border-color: #cd4a8b #cd4a8b #ec61a5;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-pink:hover, .btn-pink:active, .btn-pink:focus {
    color: #ffffff;
    background-image: none;
    background: #cd4a8b;
}

.btn-transparent {
    color: #428bca;
    background-color: rgba(255, 255, 255, 0.65) !important;
    border-color: #cccccc;
    padding: 3px 10px 0;
}

.btn-transparent:hover {
    color: #3179A3;
    }

.btn.btn-transparent span {
    font-size: 1.6em;
}

.navbar-nav > li > a {
  padding: 0 15px !important;
  line-height: 50px;
  color: #428bca !important;
}

.navbar-default .navbar-nav > li > a span {
  color: #ccc;
  font-size: 25px;
  top: 8px;
}

.top-nav-header {
  padding: 10px 10px 8px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.22);
  z-index: 601;
  position: fixed;
  a {
    margin: 0 20px;
    font-size: 1.2em;
  }
}

.bottom-nav-items {
  border-bottom: 2px solid #e7e7e7;
}

.bottom-nav-items > a {
  padding: 13px 18px 12px;
  display: inline-block;
  margin: 0 5px;
}

.bottom-nav-items > a:hover {
  background: #e4e4e4;
}

.bottom-nav-items > a:active, .bottom-nav-items > a.active {
  -webkit-box-shadow: inset 0px 6px 15px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.bottom-nav-items > a .emphasis {
font-size: 25px;
font-weight: bold;
}

.whitebg {
  background: #fff;
  padding-bottom: 40px;
}

.nobg {
  background: none !important;
}

.whitebg.fix {
  padding-bottom: 0;
}

.photo-body .container .row .col-md-2, .photo-body .container .row .col-md-10 {
  height: 190px;
}

.user-info-section h2 {
  font-size: 1.4em;
  margin-bottom: 5px;
  font-weight: bold;
  a {
    font-weight: normal;
  }
}

#user-blur p {
  color: #868686;
}

#user-blur textarea {
  min-height: 150px;
  max-width: 262px;
}

#user-lowdown h5 {
  font-weight: bold;
  color: #868686;
}

#user-lowdown .col-md-5 h5 {
  color: #287cb2;
}

#user-lowdown label {
  text-align: left;
  color: #287cb2;
  font-weight: bold;
}

.item-friend {
  width: 18%;
  display: inline-block;
  margin-right: 2.5%;
  outline: 2px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.item-friend:last-child {
  margin-right: 0;
}

.item-friend:hover {
  outline: 2px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.action-buttons a:hover {
  text-decoration: none;
}

.decored {
  line-height: 34px;
  position: relative;
  display: inline-block;
  color: #9B9B9B;
  font-weight: bold;
  margin: 25px 0;
}

.decored:after {
  position: absolute;
  content: '';
  text-align: center;
  background: url(/assets/decor_r.png) no-repeat;
  width: 200px;
  height: 34px;
  display: inline-block;
  right: -230px;
}

.decored:before {
  position: absolute;
  content: '';
  background: url(/assets/decor_l.png) no-repeat;
  width: 200px;
  height: 34px;
  display: inline-block;
  left: -230px;
}

.controls input[type="text"], .controls input[type="password"], .controls input[type="email"], .controls input[type="number"], .controls input[type="url"], .controls input[type="tel"], .controls textarea, .controls select, .form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"], .form-group input[type="number"], .form-group input[type="url"], .form-group input[type="tel"], .form-group textarea, .form-group select {
  width: 100%;
  padding: 5px;
  border: 1px solid #6a6a6a;
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.14);
  color: #333;
}

select {
  background: #fff;
  color: #999;
}

.search-form-wrap {
  background: rgba(0, 0, 0, 0.34);
  border-radius: 4px;
  margin-top: -25px;
  padding: 5px;
  height: 45px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.48);
  border: 1px solid rgba(0, 0, 0, 0.17);
}

.search-form-wrap .controls input[type="text"], .controls input[type="password"], .controls input[type="email"], .controls input[type="number"], .controls input[type="url"], .controls input[type="tel"], .controls textarea, .controls select, .form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"], .form-group input[type="number"], .form-group input[type="url"], .form-group input[type="tel"], .form-group textarea, .form-group select {
    padding: 6px 5px 7px;
}

.search-form-wrap .col-sm-4, .search-form-wrap .col-sm-3, .search-form-wrap .col-sm-2 {
    padding: 0 3px;
}

.search-form-wrap .col-sm-4 {
    padding-left: 15px;
}

.search-form-wrap .col-sm-2 {
    padding-right: 15px;
}

.friend-search {
  position: relative;
  top: 85px;
}

.bottom-part {
  padding: 5px 0 0px 30px;
  position: relative;
}

.friends-navigation.decored {
  display: block;
}
.explore-friends-navigation.decored {
  width: 435px;
  li{
    width: 33% !important;
  }
}

.friends-navigation.btn-grey {
    line-height: 1;
    height: 45px;
    padding: 5px 0;
}

.friends-navigation.btn-grey:hover {
    background: #e8e8e8; background: -moz-linear-gradient(top, #e8e8e8 0%, #e7e7e7 50%, #dadada 51%, #e5e5e5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8), color-stop(50%, #e7e7e7), color-stop(51%, #dadada), color-stop(100%, #e5e5e5)); background: -webkit-linear-gradient(top, #e8e8e8 0%, #e7e7e7 50%, #dadada 51%, #e5e5e5 100%); background: -o-linear-gradient(top, #e8e8e8 0%, #e7e7e7 50%, #dadada 51%, #e5e5e5 100%); background: -ms-linear-gradient(top, #e8e8e8 0%, #e7e7e7 50%, #dadada 51%, #e5e5e5 100%); background: linear-gradient(to bottom, #e8e8e8 0%, #e7e7e7 50%, #dadada 51%, #e5e5e5 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#e5e5e5',GradientType=0 );  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.friends-navigation.btn-grey li, .friends-navigation.btn-grey li a {
    background: none !important;
    width: 50%;
    margin: 0;
    text-align: center;
}

.friends-navigation.btn-grey li a {
    border-radius: 0;
    color: #727071;
    border-left: 1px solid #B8B8B8;
    text-shadow: none;
    width: 100%;
}

.friends-navigation.btn-grey li:first-child > a {
    border-left: 0;
}

.friends-navigation.btn-grey li.active > a {
    color: #22a7df;
}

.bordered-table {
  border: 1px solid;
  border-color: #CACACA;
}

.table.bordered  a{
  color: #535353;
  font-size: 1.2em;
  padding-left: 10px;
}

.table.bordered > thead > tr > th {
  border-bottom: 1px solid #CACACA;
  background: #ececec;
  color: #717171;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.2em;
}

.table-hover > tbody > tr:last-child > td {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.radio, .checkbox {
  font-weight: normal;
  margin-top: 0 !important;
}

.arrowed {
    border-radius: 0;
    border-right: 0;
    position: relative;
    margin-right: 17px;
}
.arrowed:before {
  content: '';
  position: absolute;
  right: -15px;
  width: 10px;
  height: 0;
  top: -1px;
  border-top: 17px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 15px solid #e9599e;
}

.arrowed:after {
  content: '';
  position: absolute;
  right: -15px;
  width: 10px;
  height: 0;
  top: 16px;
  border-top: 0 solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 15px solid #cd4a8b;
}
.btn-pink.arrowed:hover:before, .btn-pink.arrowed:hover:after {
  border-left-color: #cd4a8b;
}

#notifications label {
  font-weight: normal;
  margin-bottom: 5px;
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 0;
}

.user-activities {
  padding: 15px;
  margin-bottom: 30px;
}

.postActivity h4#myModalLabel.modal-title{
  font-size: 26px;
  font-weight: bold;
  margin-top: -50px;
}

.shadowed {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.relative {
  position: relative;
}

.comment .col-md-2 img {
  float: right;
}

.comment-field textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 70px;
  padding: 10px;
}

.nav-tabs > li > a {
    color: #555;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #428bca;
}

.nav.nav-tabs.darker {
    background: #e7e7e7;
    border-color: #9C9C9C;
    box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.24);
    margin: 0 -2px;
}
.nav.nav-tabs.darker li.active a {
    border-color: #9c9c9c;
    border-bottom-color: transparent;
    border-radius: 0;
    box-shadow: 1px 0 rgba(0, 0, 0, 0.15);
}

.nav.nav-tabs.darker li:first-child > a {
  border-left: 2px solid #e7e7e7;
}

.nav-tabs.darker > li > a:hover {
  border-bottom-color: #9c9c9c;
}
.nav-tabs.darker > li > a:hover {
  background: #FAFAFA;
}

.button-bar {
  margin-bottom: 20px;
  h2 {
    font-size: 160%;
    padding-bottom: 5px;
  }
  .btn-lg {
    zoom: 1.2;
    margin: 0 5px;
  }
}

.darken-bg {
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%); background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%); background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.75))); background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  margin: 0;
  left: 0;
}

.friend-info .darken-bg {
  height: 35%;
}

.people-list h3 {
  color: #9c9c9c;
  font-size: 26px;
  margin-top: 0;
}

.homepage-block h1 {
  font-size: 18px;
  margin-top: -20px;
}

.homepage-block h3 {
  font-size: 18px;
  margin-top: 0;
}

.sign_up-bottom {
  margin-top: 20px;
  color: #6a6a6a;
  font-size: 13px;
  a {
    color: #6a6a6a;
    text-decoration: underline;
    }
}

.suggestion-tooltip:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 7px solid #2D9BBE;
  z-index: 222;
  top: -7px;
  left: 50%;
  margin-left: -3px;
}

.suggestion-tooltip:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0378b7;
  z-index: 221;
  top: -10px;
  left: 50%;
  margin-left: -7px;
}

.labeled {
  line-height: 30px;
}

.conversation-nav {
  padding-left: 185px;
  a.active > button {
    background: #ebebeb;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.2);
    color: #22a7df;
  }
}

.chat-participants {
  margin: 0;
  line-height: 31px;
}

.unread {
  background-color: #E0E0E0;
}

.halfling {
  width: 46%;
  margin: 2%;
  float: left;
}

.conversation-item {
    border-top: 1px solid #ccc;
    position: relative;
    padding-bottom: 30px;
}

.conversation-item:first-child {
    border-top: none;
}
.conversation-item:hover .hover-buttons-group {
    opacity: 1;
}

.hover-buttons-group {
  position: absolute;
  right: 0;
  bottom: 35px;
  text-align: center;
  width: 160px;
  opacity: 0;
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
}
.hover-btn {
    color: #ccc;
    border: none;
    background-color: #fff;
    width: 100%;
    padding-top: 37px;
    font-size: 10px;
    margin: 4px;
}

.hover-buttons-group a {
    width: 31%;
    height: 35px;
    display: block;
    float: right;
    margin: 0 1%;
}
.hover-buttons-group a:hover > .hover-btn {
    color: #555;
}

.hover-btn.flag {
  background: url(/assets/flag-button.png) center top no-repeat;
}

.hover-btn.delete {
  background: url(/assets/delete-button.png) center top no-repeat;
}

.hover-btn.unread {
  background: url(/assets/unread-button.png) center top no-repeat;
}

.notifications .sender {
    line-height: 20px;
    padding-top: 15px;
}

.notifications .sender-location {
    line-height: 20px;
    padding-bottom: 15px;
}

.notifications img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.file_upload .user_avatar .col-sm-5 {
    opacity: 0;
}
.file_upload {
    position: relative;
    min-height: 34px;
    margin-bottom: 10px;
}
.file-label {
  position: absolute;
  background-color: #b1b0b2;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.14);
  width: 123px;
  font-size: 11px;
  color: black;
  height: 34px;
  right: 0;
  padding: 0 10px;
  line-height: 35px;
  overflow: hidden;
}

.wizard-block.label-fix .col-sm-7 label{
  text-align: left;
  float: left;
  font-weight: normal;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  z-index: 99999;
  right: 0;
  left: 0;
  top: 50px;
  text-align: center;
}
.wizard-block .alert {
  position: initial;
}
.alert-success {
  background-color: rgba(121, 190, 94, 0.81);;
  border-color: #d6e9c6;
  color: #FFFFFF;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.55);
}

.alert-danger {
  background-color: rgba(204, 75, 75, 0.78);
  border-color: #ebccd1;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.55);
}

.alert.alert-error {
  background: #FFE2E2;
  border-color: #FDCDCD;
  color: #E08D8D;
}

.help-inline {
  color: #DD8383;
  white-space: nowrap;
}

.backgroundize .pull-top {
  background: white;
  display: inline-block  !important;
  padding: 2px 7px 5px  !important;
  margin-left: 35%  !important;
  width: 30%  !important;
  text-align: center;
  font-style: italic;
}

.suggestions-list .user-profile {
  width: 10.8%;
  height: 103px;
  margin: 0.7%;
  border: 1px solid #adadad;
  border-radius: 8px;
  background-color: #fff;
  padding: 0;
  display: inline-block;
  float: none;
}

.suggestions-list .user-avatar {
  padding: 5px  !important;
  height: auto  !important;
}

.count-of-reguest {
  font-size: 12px;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.8em;
  left: -0.3em;
  color: #ce498a;
  font-weight: bold;
}

.new_friends {
    display: inline;
    height: 26px;
    position:
    relative;
    top:-1px;
    opacity: 0.8;
}

.new_friends:hover {
    opacity: 1;
}

.arrow-left .glyphicon, .arrow-right .glyphicon {
  font-size: 16px;
  line-height: 38px;
}

#new_activity {
  width: 100%;
}

#new_activity .controls input[type="text"], #new_activity .controls input[type="password"], #new_activity .controls input[type="email"], #new_activity .controls input[type="number"], #new_activity .controls input[type="url"], #new_activity .controls input[type="tel"], #new_activity .controls textarea, #new_activity .controls select, #new_activity .form-group input[type="text"], #new_activity .form-group input[type="password"], #new_activity .form-group input[type="email"], #new_activity .form-group input[type="number"], #new_activity .form-group input[type="url"], #new_activity .form-group input[type="tel"], #new_activity .form-group textarea, #new_activity .form-group select.controls input[type="text"], #new_activity .controls input[type="password"], #new_activity .controls input[type="email"], #new_activity .controls input[type="number"], #new_activity .controls input[type="url"], #new_activity .controls input[type="tel"], #new_activity .controls textarea, #new_activity .controls select, #new_activity .form-group input[type="text"], #new_activity .form-group input[type="password"], #new_activity .form-group input[type="email"], #new_activity .form-group input[type="number"], #new_activity .form-group input[type="url"], #new_activity .form-group input[type="tel"], #new_activity .form-group textarea, .form-group select, #new_activity .select2-choices {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  margin-bottom: 10px;
  color: #333;
  border-color: #C5C5C5;
}

#new_activity .select2-choices {
  border: 1px solid #C5C5C5;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.14);
}

#new_activity .col-sm-9 {
  padding-left: 25px;
}

#new_activity .activity_details textarea {
  min-width: 435px;
  max-width: 435px;
  height: 70px;
  min-height: 20px;
}

#theme_image {
  height: 34px;
  width: 146px;
  position: absolute;
  left: 0;
  z-index: 2;
}

.photo-explore-activities h1 {
    position: absolute;
    top: 80px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: bold;
}
.photo-explore-activities .friend-search {
    position: absolute;
    width: 100%;
    top: auto;
    bottom: 20px;
}
.photo-explore-activities .search-form-wrap.col-sm-4 {
    float: none;
    margin: 0 auto;
}

.grey-msg {
  font-size: 1.2em;
  color: #C4BFBF;
  font-weight: 300 !important;
}

.search-form-wrap .form-group select {
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  max-height: 35px;
  height: 35px;
  border-color: #6a6a6a;
  line-height: inherit;
  margin: 0;
}

.field_title label {
  min-width: 120px;
}
.has-error .error{
  color: red;
  white-space: nowrap;
}
.user_age.error .help-block{
  width: 98px;
}
.activity-info .IN-widget {
  vertical-align: top !important;
}
.activity-info .fb_iframe_widget {
  display: block;
  position: relative;
  float: left;
  margin: 0 5px;
  width: 90px !important;
}
.activity-info .twitter-share-button {
  width: 80px !important;
}

.activity-info .activity-info .share-buttons .comment-ico {
  float: left;
  margin-right: 4px;
  vertical-align: bottom;
  display: inline-block;
}

.edit-forms .inline-radions label {
  width: 135px;
}

#preferences .col-md-3.control-label {
  margin-left: -25px;
}

.list-of-joined > a > img {
  border-radius: 4px;
}

.city-page {
  margin: 0 auto;
}

.city-page .col-md-3 .col-md-12 {
  padding: 0 5px;
}
.bottom {
  background: #fff;
  margin: 0 5px 10px;
  padding: 30px 7px 10px;
  color: #868686;
  position: relative;
}
.bottom h4 {
  font-size: 11px;
  line-height: 14px;
  margin: 0;
}

.bottom img {
  position: absolute;
  top: -65px;
  left: 50%;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
}

.city-page .suggested-block {
  width: 32%;
  overflow: hidden;
}
.city-page .suggested-block .bottom-part img {
  width: 65px;
  height: 65px;
  margin-right: 10px;
  top: -40px;
  position: relative;
  float: left;
}
.city-page .suggested-block .bottom-part {
  padding: 7px 0;
}
.city-page .suggested-block .bottom-part .title {
    font-size: 15px;
}
.city-page .suggested-block .bottom-part .date {
    font-size: 11px;
}



.Lily_font{
  font-family: 'Lily Script One', cursive !important;
}

h1.Lily_font {
  font-size: 50px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: normal;
}

.container.activity-info {
  margin-top: 40px;
}

.col-sm-11.control-label {
  padding-left: 0;
}

#notifications .form-horizontal .form-group {
    margin-left: 0;
}

.interests-view span.interest:first-child {
  margin-left: 0;
}

.navbar-nav > li > a.city-ul {
  padding-left: 30px !important;
  background-image: url(/assets/city-ul.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.clearfix.derp .col-sm-9 {
  padding-left: 0 !important;
}

.view-back:before {
  content: "- ";
  color: #333;
}

.form-horizontal .boolean:last-of-type .form-group {
  border-bottom: none;
}

.friend-list-item {
  margin: 20px 0 40px;
  overflow: hidden;
}

.friend-list-item .friend-name {
  margin: 0 !important;;
}
.friend-list-item .friend-city {
  max-width: 105px !important;
  overflow: hidden;
  display: block;
}

.col-md-12.friends-list.all > div > a {
    display: block;
}

.friend-item-wrap {
  max-height: 50px;
  min-height: 50px;
  float: left;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

// Carousel

.carousel-control{
  span img{
    display: inline;
    position: absolute;
    top: 45%;
  }
}
#carousel.carousel.slide{
  .carousel-inner{
    .item{
      height: auto;
      img{ height: auto; width: 100%; }
      .carousel-caption{ font-size: 130%; }
      .carousel-caption.top{
        top: -20px;
        h1{
          font-size: 4em;
        }
      }
    }
  }
}