// Place all the styles related to the Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * !! Variables !!
 * $'name'_color => some color;
 *
 */

$border-color: #adadad;
$icon-color: #DF01A5;

.friends-navigation {
  width: 290px;
  margin: 0 auto;
}

.add-button button {
  margin-top: 10px;
  background-color: $icon-color;
  color: #fff;
  font-weight: bold;
}

.friends-list {
  margin-top: 1%;
  padding: 0;

  .col-sm-20 {
    @extend .col-sm-2 !optional;
    width: 20%;
    padding: 0 10px;
  }

  .friend-list-single-item {
    margin-top: 18px;
    border: 1px solid #adadad;
    background: #fff;
    @extend .clearfix !optional;

    .friend-avatar {
      position: relative;

      img {
        width: 100%;
      }
    }
    
    .friend-item-wrap {
      color: #fff;
      position: absolute;
      bottom: 0;
      font-size: 16px;
      padding: 0 10px;
    }
    
    .col-sm-12.interests {
      height: 76px;
      
      .col-sm-6.interest-tag {
        padding: 0 8px;

        &:nth-child(2n) {
          padding-left: 4px;
        }
        &:nth-child(2n+1) {
          padding-right: 4px;
        }

        div {
          padding: 7px 5px 3px;
          margin: 9px 0 0;
          background-color: #7e7e7e;
          text-align: center;
          white-space: nowrap;
          color: #fff;
          border-radius: 4px;
        }
      }
    }
  }

  &.all, &.new {
    .glyphicon-plus, .glyphicon-remove, .glyphicon-envelope {
      color: #ce498a;
    }
  }
}

.send-message-button:hover, .remove-from-friend-button:hover, .add-from-friend-button:hover{
  text-decoration: none;
}

.action-buttons a {
  display: block;

  button {
    font-size: 28px;
    margin: 10px 0;
    padding: 10px 0 0;
    display: block;
    width: 80%;
  }
  &:first-child {
    button {
      margin-left: 20%;
    }
  }
}

.discover-title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}
.discover-friends .search-block {
  color: red;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 40px;
  margin: 0 25%;
  height: 18%;
}
.search-button {
  width: 135px;
}

.suggestions {
  padding: 0;
  margin: 0 0 20px 0;

  h2 {
    text-align: center;
  }
}

.suggestions-list {
  margin: 20px 0 0 0;

  .user-profile:last-child {
    margin-right: 0;
  }
  .user-avatar {
    padding: 0;
    height: 137px;

    img {
      max-height: 91px;
      min-height: 90px;
    }

    &:hover span.suggestion-tooltip {
      display: block;
      width: 300px;
      position: absolute;
      left: -100px;
      text-align: left;
      top: 105px;
      background-color: #2D9BBE;
      opacity: 0.8;
      border: 2px solid #0378b7;
      border-radius: 5px;
      color: #fff;
      font-style: italic;
      padding: 5px;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.55);
      font-size: 13px;
      z-index: 3;
      box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.21);
    }
  }
}

.col-md-2.user-profile span.suggestion-tooltip {
  display: none;
}
