.nav-holder {
  .navbar {
    box-shadow: 0 -5px 20px #000;
  }

  &.authenticated {
    height: 104px;

    .navbar {
    }
  }
  &.unauthenticated {
    height: 10px;

    .navbar {
    }
  }
  &.internal {

    .navbar {
      background: #f9f9f9;
    }
  }
  &.external {

    .navbar {
    }
  }
}

nav.navbar {
  padding: 0;
  
  .nav.navbar-nav li a {
    padding: 7px 10px 4px;
    
    &.avatar {
      padding-right: 14px;
    }
  }

  .top-nav-header a {
    margin: 0 20px;
    font-size: 1.2em;
  }
  
  .dropdown-menu {
    padding: 8px 0 4px;
  }

  .top-nav-header{
    padding: 12px 0 6px;
    background: #fff;

    p a {
      padding: 0 20px;
    }
  }
}
