nav.navbar {
  padding: 0;

  &.authenticated {
  
  }
  &.unauthenticated {
  
  }
  &.internal {
    background: #f9f9f9;
  }
  &.external {
    
  }
  
  .nav.navbar-nav li a {
    padding: 7px 10px 4px;
    
    &.avatar {
      padding-right: 14px;
    }
  }

  .top-nav-header a {
    margin: 0 20px;
    font-size: 1.2em;
  }
  
  .dropdown-menu {
    padding: 8px 0 4px;
  }

  .top-nav-header{
    padding: 12px 0 6px;
    background: #fff;

    p a {
      padding: 0 20px;
    }
  }
}
