%h2.sidebar-title
  .row
    .col-sm-6
      = @user_display_name
      Activities 
      -#
        %span.count
          = activitiesNum
    %small.col-sm-6.text-right
      - if @is_own_profile
        =link_to "View All", activities_path
      - else
        =link_to "View All", user_activities_path(@user.id)

.col-md-12.user-activities.profile-box
  - activities = lastFourActivities
  - if activities && activities.count > 0
    - activities.each do |activity|
      = render partial: 'activities/activity_tile', locals: { activity: activity }
  - else
    .col-md-12
      - if @user.id == current_user.id
        %h2.grey-msg You have no activities
      - else
        %h2.grey-msg #{ @user.name} have no activities
